   @media (prefers-reduced-motion: no-preference) {
    .spinning {
      animation: rotate-360 20s linear infinite;
    }
  }
 
  @keyframes rotate-360 {
    0% {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1turn);
    }
  }
  